@model IEnumerable<MasterGroup.Models.MasterGroupItem>

@{
    ViewBag.Title = "Index";
}
<h2 class="titles">My Groups</h2>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin:2.5%;">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card" style="width: 18rem; border: solid #a50b0b85;margin: auto auto;">
                <div class="card-body">
                    <h5 class="card-title" style="font:bold,small-caps"> To See all Groups you have created scorll right!</h5>
                    <p class="card-text">Each card will be a group youh have created with the basics for reference</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Username</li>
                    <li class="list-group-item">Subject</li>
                    <li class="list-group-item">Creation Date</li>
                </ul>
                <div class="card-body">
                </div>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="carousel-item">
                <div class="card" style="width: 18rem; border: solid #a50b0b85; margin: auto auto;">
                    <div class="card-body">
                        <h5 class="card-title" style="font:bold,small-caps"> @Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@Html.DisplayFor(modelItem => item.Username)</li>
                        <li class="list-group-item">@Html.DisplayFor(modelItem => item.Subject)</li>
                        <li class="list-group-item">@Html.DisplayFor(modelItem => item.CreatedUtc)</li>
                    </ul>
                    <div class="card-body">
                        @if (User.Identity.Name == item.Username)
                        {

                            @Html.ActionLink("Delete", "Delete", new { id = item.GroupID },null)
                        }

                        @Html.ActionLink("Edit", "Edit", new { id = item.GroupID })
                        @Html.ActionLink("Details", "Detials", new { id = item.GroupID },null)
                    </div>
                </div>
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

@Html.Partial("../MasterGroup/IndexForAll", (List<MasterGroup.Models.MasterGroupItem>)ViewBag.Mine)


<style>
    .carousel-control-prev {
        border: 1px solid #a50b0b85;
        background-color: #a50b0b85;
    }

    .carousel-control-next {
        border: 1px solid #a50b0b85;
        background-color: #a50b0b85;
    }

    .card {
        display: flex;
        justify-content: center;
    }

    .titles {
        display: flex;
        justify-content: center;
    }
</style>

