@model MasterGroup.Models.CheckListDetail

@{
    ViewBag.Title = "CheckListDetails";
}

<h2>Check List Details</h2>

<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">
       
            @Html.DisplayNameFor(model => model.ListId)
      

       
            @Html.DisplayFor(model => model.ListId)
       
    </div>
    <div class="card-body">
        <h5 class="card-title">Group Checklist Items</h5>
        <p class="card-text"><div>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.Check1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Check1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Check2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Check2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Check3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Check3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div></p>
    </div>
</div>

<p>
    <button type="button" class="btn-btn">@Html.ActionLink("Edit", "Edit", new { id = Model.ListId }, null)</button> |
    @Html.ActionLink("Back to Group", "Detials", "MasterGroup", new { id = Model.ListId }, null)
</p>
<style>
    .btn-btn{
background-color: #a50b0b85;
    }
</style>