@model IEnumerable<MasterGroup.Models.PostListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Posts   </h2>
<div class=" posts">
        @foreach (var item in Model)
        {
           

            <div class="cardP">
                <h5 class="card-header">@Html.DisplayFor(modelItem => item.PostId)|@Html.DisplayFor(modelItem => item.Title)</h5>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Username)</h5>
                    @if (item.FileContent != null)
                    {
                    var base64 = Convert.ToBase64String(item.FileContent); var imgSrc = String.Format("data:image/gif;base64,{0}", base64);<img src=@imgSrc , class="Postimg" />
                    }
                    else
                    {
                    <img src="" />
                    }
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.Content)</p>
                    <a href="#"> @Html.ActionLink("Delete", "Delete", "Post", new { id = item.PostId }, null)</a>
                    <a href="#"> @Html.ActionLink("Details", "Details", "Post", new { id = item.PostId }, null)</a>
                </div>
            </div>
     }
</div>  

<style>
    .Postimg {
        max-width: 5%;
        max-height: 15%;
    }
    .card{
        max-height:5%
    }
    .posts{
        display:flex;
       justify-content:normal;
       flex-direction:column;
       margin:2em;
       flex-wrap:wrap;    
    }
    .cardP{
        
    }
</style>