@model MasterGroup.Models.PostDetail

@{
    ViewBag.Title = "Details";
}

<h2>Post Details</h2>

<div>
    <h4>Expanded View</h4>
</div>
    <hr />
   
@if (Model.FileContent != null)
{
    var base64 = Convert.ToBase64String(Model.FileContent);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    <img src=@imgSrc , class="Postimg" />
}
else
{
    <img src="" />
}
<br />
<br />
<table class="table">
    <thead class="thead-">
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.PostId)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Username)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Title)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Content)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.PostId)</td>
            <td>@Html.DisplayFor(model => model.Username)</td>
            <td>@Html.DisplayFor(model => model.Title)</td>
            <td>@Html.DisplayFor(model => model.Content)</td>
        </tr>
    </tbody>
</table>
@Html.DisplayFor(model => model.PostDate)
<br />
<hr />
<p>
    @Html.ActionLink("Back to Group", "Detials", "MasterGroup", new { id = Model.GroupId }, null)
</p>

<style>
    .Postimg {
        max-width: 15%;
        max-height: 15%;
    }
    .thead-{
        background-color: #a50b0b85;
    }
</style>